{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
    <section class="mdl-grid grid-container">
      {{ range  $paginator.Pages }}
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
          {{ partial "summary.html" . }}
        </div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
