<div class="aa-audio-player podcast-banner">
  <div class="container">

    <div class="media">
      <div class="media-left">
        <div class="aa-audio-play-btn">
          <button class="podcast-play-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background: rgb(76,175,80);">
            <i class="material-icons">play_arrow</i>
          </button>
        </div>
      </div>
      <div class="media-body">
        <div class="aa-single-podcast-txt">

          <span class="aa-podcast-category">
						<span class="cat-links"> <a href="/episodes" rel="category tag">Episodes</a>,</span> </span>

          <span class="aa-podcast-publish-date">{{ .Date.Format "January 2, 2006" }} • </span>
          <span class="aa-play-times" id="aa-track-duration">00:00:00</span>

          <h3 class="banner-episode-title">{{ upper .Params.title }}</h3>
          <div class="aa-audio-player-action-icons">
            <span id="aa-toggle-play-ios" class="aa-play-icon-mobile aa-toggle-play-ios">
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons" aria-hidden="true">play_arrow</i>
              </button>
						</span>
            <span id="aa-volume-slider">
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">volume_up</i>
              </button>
              <input id="aa-vol-adjust" class="mdl-slider mdl-js-slider" type="range" step="1" min="0" max="100" value="100" tabindex="0">
						</span>
            <span><a href="{{ .Params.audioLink }}" download="" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">file_download</i></a></span>
            <span class="aa-header-share-btns">
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">share</i>
              </button>
							<span class="aa-the-share-buttons">
								<a href="http://facebook.com/share.php?u=http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F&amp;t=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21" onclick="javascript:void window.open('http://facebook.com/share.php?u=http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F&amp;t=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21'
	,'1466292609984','width=600,height=455,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;">
	<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
										<a href="http://twitter.com/home?status=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21%20http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F" onclick="javascript:void window.open('http://twitter.com/home?status=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21%20http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F',
	'1466291254543','width=600,height=455,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;" class="twitter-color">
	<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
										<a href="https://plus.google.com/share?url=http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F&amp;t=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21" onclick="javascript:void window.open('https://plus.google.com/share?url=http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F&amp;t=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21',
	'1466292852016','width=600,height=455,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;" class="google-plus-color">
	<i class="fa fa-google-plus" aria-hidden="true"></i>
</a>
										<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F&amp;title=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21&amp;summary=An+episode+where+Jack+covers+pellentesque+auctor+neque+nec+urna.+Quisque+id+mi.+Donec+vitae+sapien+ut+libero+venenatis+faucibus.+Phasellus+gravida+sem+..." onclick="javascript:void window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fsmartlythemes.com%2Fdemos%2Faudioatro%2F2017%2F10%2F18%2Fwhen-she-gives-you-that-look-lets-talk%2F&amp;title=When+she+gives+you+that+look%21+Let%E2%80%99s+talk%21&amp;summary=An+episode+where+Jack+covers+pellentesque+auctor+neque+nec+urna.+Quisque+id+mi.+Donec+vitae+sapien+ut+libero+venenatis+faucibus.+Phasellus+gravida+sem+...',
	'1466293098325','width=600,height=455,toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;" class="linkedin-color">
	<i class="fa fa-linkedin" aria-hidden="true"></i>
		</a>
									</span>
            </span>
          </div>

        </div>
      </div>
    </div>

    <div class="aa-times-container">
      <span class="aa-play-times pull-right" id="aa-play-timeplayed">00:00:00</span>
      <span class="aa-play-times pull-right" id="aa-play-timeleft">00:00:00</span>
    </div>
  </div>

  <div id="aa-pod-header-bars" class="">
    <canvas id="aa-analyser-bars" width="375" height="667"></canvas>
    <div class="container aa-track-seek-container">
      <input class="mdl-slider mdl-js-slider" type="range" value="0" id="aa-track-seek-slider" max="193">
    </div>
  </div>
</div>

<script type="text/javascript">
  var AUDIO_URL = {{ .Params.audioLink }};
  var VIZ_BARS_COLOR = {{ $.Site.Params.barsColor }};
</script>
