{{ $featured_image := .Param "featured_image" | default "http://res.cloudinary.com/maplekiwi/image/upload/c_fill,e_brightness:-10,g_north,h_900,w_1600/v1518867570/banner-whole-gang.jpg" }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <!-- Uses a transparent header that draws on top of the layout's background -->
  <style>
    .demo-layout-transparent {
      background: url('{{ $featured_image }}') center / cover;
    }
    .demo-layout-transparent,
    .mdl-layout__drawer-button,
    .demo-layout-transparent .mdl-navigation__link {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: white;
    }
  </style>
    <header class="demo-layout-transparent mdl-layout__header mdl-layout__header--transparent mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{ .Title | default .Site.Title }}</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        {{ partial "site-navigation.html" .}}
      </div>
      <div class="mdl-layout__header-row" style="height: inherit;">
        {{ if isset .Params "audiolink" }}
          {{ partial "audio-player.html" . }}
        {{ else }}
          {{ range first 1 .Site.Pages }}
            {{ partial "audio-player.html" . }}
          {{ end }}
        {{ end }}
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">{{ .Title | default .Site.Title }}</span>
      {{ partial "site-navigation.html" .}}
    </div>
{{ else }}
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{ .Title | default .Site.Title }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      {{ partial "site-navigation.html" .}}
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ .Title | default .Site.Title }}</span>
    {{ partial "site-navigation.html" .}}
  </div>
{{ end }}
