
<li style="margin: 8px"><a href="{{ .Site.Params.itunesLink }}" target="_blank"><img src="http://res.cloudinary.com/casualrp/image/upload/v1520048723/Listen_on_Apple_Podcasts_sRGB_US.svg" height="34" /></a></li>
<li style="margin: 8px"><a href="{{ .Site.Params.stitcherLink }}" target="_blank"><img src="http://res.cloudinary.com/casualrp/image/upload/c_scale,h_34/v1520049199/20171006093914-stitcher-podcast-01.svg" height="38" /></a></li>
<li style="margin: 8px">{{ partial "patreon.html" . }}</li>
