<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "32px" }}
{{ $color := "white" }}
{{ with .Site.Params.facebook }}
  <li style="margin: 8px;"><a href="{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" title="Facebook link">
    {{ partial "svg/facebook.svg" (dict "size" $icon_size "color" $color) }}
  </a></li>
{{ end }}
{{ with .Site.Params.twitter }}
  <li style="margin: 8px;"><a href="{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" title="Twitter link">
    {{ partial "svg/twitter.svg" (dict "size" $icon_size "color" $color) }}
  </a></li>
{{ end }}
{{ with .Site.Params.instagram }}
  <li style="margin: 8px;"><a href="{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" title="Instagram link">
    {{ partial "svg/instagram.svg" (dict "size" $icon_size "color" $color) }}
  </a></li>
{{ end }}
{{ with .Site.Params.youtube }}
  <li style="margin: 8px;"><a href="{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" title="Youtube link">
    {{ partial "svg/youtube.svg" (dict "size" $icon_size "color" $color) }}
  </a></li>
{{ end }}
{{ with .Site.Params.linkedin }}
  <li style="margin: 8px;"><a href="{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" title="LinkedIn link">
    {{ partial "svg/linkedin.svg" (dict "size" $icon_size "color" $color) }}
  </a></li>
{{ end }}
{{ with .Site.Params.github }}
  <li style="margin: 8px;"><a href="{{ . }}" class="mdl-button mdl-js-button mdl-button--icon" title="Github link">
    {{ partial "svg/github.svg" (dict "size" $icon_size "color" $color) }}
  </a></li>
{{ end }}
