#aa-analyser-bars {
    height: 90px;
    width: 100%;
    margin-left: -54px;
}

@media only screen and (min-width: 768px) {
  .aa-play-icon-mobile {
    display: none;
  }
}

.aa-audio-player-action-icons .mdl-slider__container  {
    width: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.45s;
    opacity: 0;
}

.aa-audio-player-action-icons, #aa-volume-slider {
  display: flex;
  flex-direction: row;
}

#aa-volume-slider:hover .mdl-slider__container {
    width: 200px;
    opacity: 1;
}

.aa-times-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: -54px;
}

.aa-audio-play-btn {
  position: absolute;
  left: -64px;
  top: 40px;
}

.media {
  position: relative;
  margin-top: 160px;
}
