#aa-analyser-bars {
    height: 90px;
    width: 100%;
}

.banner-episode-title {
  font-family: 'Bebas Neue', 'Roboto', serif;
}

.aa-audio-player {
  flex-shrink: 1;
  color: white;
}

@media only screen and (min-width: 768px) {
  .aa-play-icon-mobile {
    display: none;
  }
}

.aa-audio-player-action-icons .mdl-slider__container  {
    width: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.45s;
    opacity: 0;
}

.aa-audio-player-action-icons, #aa-volume-slider {
  display: flex;
  flex-direction: row;
}

#aa-volume-slider:hover .mdl-slider__container {
    width: 200px;
    opacity: 1;
}

.aa-times-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px
}

.aa-audio-play-btn {
  position: absolute;
  left: 24px;
  bottom: 40px;
}

.aa-track-seek-container {
  position: absolute;
  left: 0;
  right: 0;
}

.media {
  position: relative;
  padding-top: 100px;
  padding-left: 120px;
}

.podcast-play-button {
  width: 76px;
  height: 76px;
  color: rgb(76,175,80);
}

.podcast-play-button .material-icons {
  font-size: 48px;
  transform: translate(-23px,-23px);
  line-height: 48px;
  width: 48px;
}

.cat-links a {
  color: white;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: initial;
  }
}

@media only screen and (max-width: 767px) {
  .media {
    padding-left: 16px;
    padding-right: 16px;
  }
  .aa-audio-play-btn {
    display: none;
  }
  .aa-times-container {
    margin: 16px;
  }
}
