
{{ define "main" }}
  <img class="img-center" src="http://res.cloudinary.com/maplekiwi/image/upload/c_scale,w_400/v1518869479/casualRP-dark-transparent.png" alt="Casual RP Podcast"/>
  <div class="mdl-grid grid-container">
    {{ range first 12 .Data.Pages }}
      {{ if eq .Section "episodes" }}
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        {{ partial "summary.html" . }}
      </div>
      {{ end }}
    {{ end }}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/episodes">More</a>
  </div>
{{ end }}
