
{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div class="grid-container" style="max-width: 600px">
    <h1 style="padding-top: 2rem" class="mdl-typography--display-1 mdl-typography--display-1-color-contrast">{{ .Title }}</h1>
    {{ .Content }}
    <div class="mdl-grid" style="align-items: center;">
      <div>
        {{ partial "patreon.html" . }}
      </div>
      <div style="margin: 0 8px;">
        {{ partial "facebook-share.html" . }}
      </div>
      <div>
        {{ partial "twitter-share.html" . }}
      </div>
    </div>


    <br />
    <br />
  </div>
{{ end }}
